<style>
    .overlay-box {
        background: rgba(0, 0, 0, 0.55); /* semi-transparent black */
        padding: 20px;
        border-radius: 10px;
    }

    .overlay-box p,
    .overlay-box h1,
    .overlay-box a {
        color: white !important; /* readable text */
    }

    /* Optional: make the button stand out */
    .overlay-box .btn-primary {
        background-color: #370707;
        border-color: #000000;
    }
</style>

<header>
    <div class="header-content">
        <div class="header-content-inner intro-flex">
            <h1>Computational Biophysics & Molecular Design</h1>
            <hr>

            <div class="overlay-box">
                <div class="row" style="display:flex; align-items:center;">
                    <div class="col-sm-3">
                        <img src="img/portrait.jpg" alt="Jonathan Zajac portrait"
                            style="width:100%; max-width:150px; height:auto; border-radius:50%;">
                    </div>

                    <div class="col-sm-9">
                        <p>Hi there! I'm Jonathan. I am a computational molecular scientist interested in the structure, function, 
                            and dynamics of biomolecular systems. I'm an enthusiast of observing proteins wiggle and jiggle, using 
                            molecular simulations to understand the physical principles underlying biological systems. I develop and 
                            leverage methods combining statistical mechanics, thermodynamics, machine learning, and enhanced sampling
                            to investigate complex systems.
                        </p>

                        <p>Currently, I am a 5th year Ph.D. candidate in the Department of Chemistry at the University of Minnesota,
                            advised by Professor Sapna Sarupria. My research focuses on developing and applying computational methods
                            to study protein-solvent interactions towards the design of stable biological formulations.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="#education" class="btn btn-primary btn-xl page-scroll">Learn More!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
