<section class="no-padding" id="research">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="research-box">
                    <img src="img/research/1.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="research-category text-faded">
                                Category
                            </div>
                            <div class="research-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="research-box">
                    <img src="img/research/2.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="research-category text-faded">
                                Category
                            </div>
                            <div class="research-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="research-box">
                    <img src="img/research/3.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="research-category text-faded">
                                Category
                            </div>
                            <div class="research-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="research-box">
                    <img src="img/research/4.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="research-category text-faded">
                                Category
                            </div>
                            <div class="research-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="research-box">
                    <img src="img/research/5.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="research-category text-faded">
                                Category
                            </div>
                            <div class="research-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="research-box">
                    <img src="img/research/6.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="research-category text-faded">
                                Category
                            </div>
                            <div class="research-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
