<section id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#publications" class="portfolio-box" data-area="virology">
                    <img src="img/research/ppv-website.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="research-category text-faded">
                                Research
                            </div>
                            <div class="research-name">
                                Computational Virology
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#publications" class="portfolio-box" data-area="hydrophobicity">
                    <img src="img/research/arg-polymer-website.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="research-category text-faded">
                                Research
                            </div>
                            <div class="research-name">
                                Hydrophobic Interactions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#publications" class="portfolio-box" data-area="gpcr-pharmacology">
                    <img src="img/research/gpcr-website.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="research-category text-faded">
                                Research
                            </div>
                            <div class="research-name">
                                GPCR Pharmacology
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#publications" class="portfolio-box" data-area="network-theory">
                    <img src="img/research/network-website.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="research-category text-faded">
                                Research
                            </div>
                            <div class="research-name">
                                Network Theory
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#publications" class="portfolio-box" data-area="protein-solvent">
                    <img src="img/research/arg-glu-website.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="research-category text-faded">
                                Research
                            </div>
                            <div class="research-name">
                                Cosolvent Effects
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#publications" class="portfolio-box" data-area="molecular-dynamics">
                    <img src="img/research/protein-website.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="research-category text-faded">
                                Research
                            </div>
                            <div class="research-name">
                                Protein Folding, Structure, and Dynamics
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
